@keyframes load {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

.circle1 {
  animation: load 4s infinite cubic-bezier(0.53, 1, 1, 1);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.664);
}
.circle2 {
  animation: load 4s infinite cubic-bezier(0.53, 0.5, 1, 1);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.664);
}
.circle3 {
  animation: load 4s infinite cubic-bezier(0.53, 0, 1, 1);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.664);
}
